<header>
<div class="head-nav"><h2><a href="{{ site.baseurl }}/home/">Accueil</a></h2></div>
<div class="head-nav"><h2><a href="{{ site.baseurl }}/about/">À propos</a></h2></div>
{% assign posts=site.posts | where: "id", page.id | sort:"lang" %}
{% if posts.size == 0 %}
  {% assign posts=site.pages | where:"id", page.id | sort: 'lang' %}
{% endif %}
{% for post in posts %}
  <div class="head-nav"><h2><a class="{{ post.lang }}" href="{{ site.baseurl }}{{ post.url }}">{{post.lang}}</a></h2></div>
{% endfor %}
</header>
