/* Page d'accueil */
#background-video {
  background:url("/mepierdoparaver/imgs/caminandojuntas.gif");
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: var(--b-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.button-entrer{
  font-family:var(--f-title);
  text-transform: uppercase;
  position:absolute;
  top:50%;
  left:50%;
  margin-top: -25px;
margin-left: -56px;
width:112px;
height:50px;
  color:white;
  border:3px solid var(--color);
  background:var(--b-color);
  color:var(--color);
  padding:10px;
  z-index:1;
}

.button-entrer:hover{
  cursor:pointer;
  background: var(--color);
    a{
    color:var(--b-color);
    }
}

/*Header screen*/
header {
  width:80%;
  margin:auto;
  height:4em;
  padding-top:1.5em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.head-nav, .lang-nav{
  display:inline-block;
  border: var(--box-border);
  margin:auto;
    h2{
    padding:5px 10px 5px 10px;
    height:1.5em;
    font-weight:700;
    text-align: center;
  }
}

.head-nav{
  background:var(--b-color);
}

.lang-nav{
  background:var(--color);
}

.bttn-lang{
  display:inline-block;
  background-color: var(--b-color);
}

.head-nav:hover, .bttn-lang:hover{
    background: var(--color);
    a{
      color: var(--b-color);
    }
}

.active{
  background:var(--color);
  cursor:default;
}

.active a{
  color: var(--b-color);
  cursor:default;
}

.header-lowwidth, .lang-nav-lowwidth, .mobile-nav{
  display:none;
}

/* Wrapper */

#wrap{
  margin-top:2em;
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: 0.4fr 1fr;
  grid-gap: 2em;
}

/* Nav */

nav li{
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
  line-height:calc(var(--line-height)/1.5);
}

nav a:hover{
  background: var(--color);
  color: var(--b-color);
}

.screen-nav{
  margin-left: 2em;
}

.titre{
  background:var(--color);
  padding:10px;
  a{
    color:var(--b-color);
    font-size: 20px;
    white-space: normal;
  }
  a:hover{
    color:var(--b-color);
  }
}

.menu, .legende, .credits{
  background:var(--b-color);
  border: var(--box-border);
  margin-top: 1em;
  margin-bottom:1em;
  padding:10px;
}

.menu a{
    cursor: pointer;
}

.credits p{
  font-size:11px;
  margin-bottom:0px;
}

/* Main */
main{
  margin-right: 2em;
}

.home{
  background-color:var(--b-color);
  padding:2em 2em 0 2em;
  border: var(--box-border);
  margin-bottom:2em;
}

.titre-page{
  text-align:center;
}

.titre-page::before, .titre-page::after{
  content: " ■ ";
  font-size:1.8em;
}

.cat-page{
  text-align:center;
  font-size:12px;
  margin-bottom:4em;
}

.home a{
  background:var(--color);
  color:var(--b-color);
  padding-left:2px;
  padding-right: 2px;
}

.home a:hover{
  background:none;
  color:var(--color);
}

.arrow-top{
  position:fixed;
  bottom:0;
  right:0;
  font-size:40px;
  padding-right:1.5em;
  padding-bottom:1.5em;
}

#arrow{
  color:var(--color);
  background:none;
}

.separation, .end-post{
  margin-top:calc(var(--line-height)*1.5);
  margin-bottom:calc(var(--line-height)*1.5);
  width:100%;
  text-align:center;
}

.respiration{
  height: calc(var(--line-height)*3);
  width:100%;
}

/*Videos & images parameters*/
.embed-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.embed-container iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}


iframe{
  width:100%;
}

#player{
  width:100%;
}

article {
    img{
    max-width:100%;
    display:block;
    margin:auto;
  }
}

.mobile-footer, .mobile-button{
  display:none;
}


@media (max-width: 950px){
  header{
    display:none;
  }

  .header-lowwidth{
    display:block;
  }
}

@media (max-width: 700px){
  .screen-button{
    display:none;
  }

  .mobile-button{
    display:block;
  }

  .button-entrer{
  margin-top: -20px;
  margin-left: -50px;
  width:75px;
  height:35px;
}

.button-entrer h1{
  font-size:22px;
}

  p{
    font-size:14px;
  }

  h6{
    font-size:11px;
  }

  #wrap{
    display:block;
  }

  .mobile-nav{
    display:block;
    width:90%;
    margin:auto;
    .menu{
      width:fit-content;
    }
  }

  .mobile-pages{
    margin-top:1em;
    text-align:center;
    margin-bottom: 1em;
  }

  .mobile-icon{
    display:inline-block;
    width:40px;
    height:40px;
    background:var(--b-color);
    border:var(--box-border);
    margin-bottom: 1em;
    a{
      font-size:30px;
    }
  }


  .mobile-icon:hover{
    background:var(--color);
    color:var(--b-color);
  }

  main{
    width:90%;
    margin:auto;
  }

  .home{
    padding:1em;
  }

  .mobile-post-list a{
    background:none;
    color:var(--color);
  }

  .mobile-post-titre{
    text-align:center;
    font-size:12px;
  }

  .cat-page{
    margin-bottom:1em;
  }

  .mobile-post-excerpt{
    margin-bottom:calc(var(--line-height)*2);
    p{
      text-align:center;
    }
  }

  .arrow-top{
    padding-right:0.8em;
  }

  .screen-nav{
    display:none;
  }

  .titre-page{
    font-size:14px;
  }

  .separation, .end-post{
    margin-top:var(--line-height);
    margin-bottom:var(--line-height);
  }

  .respiration{
    height: calc(var(--line-height)*2);
  }

  .mobile-footer{
    display:block;
  }
}
