/* Les variables */
:root{
--font-size:1em;
--line-height:1.9em;
--b-color: #fff;
--color: #2c2c2c;
--f-title: 'Oswald', sans-serif;
--f-cdt: '';
--h-color: #505050;
--box-border: 3px solid var(--color);
}
#background-video {
height: 100vh;
width: 100vw;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
}

/* Général */
body{
  color:var(--color);
  background-image: url("/mepierdoparaver/imgs/caminandojuntas.gif");
  font-family: 'EB Garamond', serif;
      background-size: cover;
      background-attachment: fixed;
}

h1, h2, h3, h4, h5{
    font-family: var(--f-title);
    text-transform:uppercase;
    letter-spacing: 1px;
}

h2{
  font-size:20px;
}

.respiration{
  line-height: calc(var(--line-height)*3);
}

h6{
  text-align:center;
  font-size:9px;
}

h6 + p{
  margin-top:calc(var(--line-height)*3);
}


h6 + .embed-container{
  margin-top:calc(var(--line-height)*3);
}

a{
  color: var(--color);
  text-decoration: none;
}

ul, li{
  list-style: none;
}

p{
  margin-bottom:1em;
  font-size: 14px;
}

hr{
  margin-top:calc(var(--line-height)*1.5);
  margin-bottom:calc(var(--line-height)*1.5);
  border:none;
  text-align:center;
}

hr::after{
  content: "+";
}

iframe{
  width:100%;
}

#player{
  width:100%;
}

h2 a:hover{
  color: var(--b-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color);
}


.tempo{
  color:white;
  text-align:center;
  padding-top:200px;
}
.button-entrer{
  font-family:var(--f-title);
  text-transform: uppercase;
  position:absolute;
  top:50%;
  left:45%;
  color:white;
  border:0 0 0 1px black,
                0 0 0 2px white,
                0 0 0 6px black;
  background:white;
  color:black;
  padding:10px;
}

.button-entrer h1::before{
  content:'entrer';
}

.button-entrer h1:hover::before{
  content:'entrar';
}

.button-entrer:hover{
  cursor:pointer;
}

header {
  width:80%;
  margin:auto;
  height:4em;
  padding-top:1.5em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header-mobile{
  display:none;
}

.head-nav{
  display:inline-block;
  background-color: var(--b-color);
  border: var(--box-border);
  margin:auto;
}

.head-nav h2{
  padding:5px 10px 5px 10px;
  height:1.5em;
  font-weight:700;
  text-align: center;
}

.bttn-lang{
  display:inline-block;
}

.es, .fr{
  background: var(--color);
}

nav{
  width:30%;
  position:relative;
  float:left;
}

nav li{
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
  line-height:calc(var(--line-height)/1.5);
}

nav a:hover{
  background: var(--color);
  color: var(--b-color);
}

.titre{
  background:var(--color);
  color:var(--b-color);
  margin-left: 2em;
  margin-top: 2em;
  padding:10px;
}

.titre a{
    color:var(--b-color);
    font-size: 20px;
}

.titre a:hover{
  color:var(--b-color);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: var(--color);
}

.menu, .legende, .header-mobile{
  background:var(--b-color);
  margin-left: 2em;
  margin-top: 1em;
  border: var(--box-border);
  padding:10px;
}

.lang-mobile{
  font-family: var(--f-title);
}

.titre{
  font-family: var(--f-title);
}

main{
  position:relative;
  float:right;
  margin-top:2em;
  margin-right: 2em;
  width:60%;
}

.home-contenu{
  background-color:var(--b-color);
  padding:2em 2em 0 2em;
  border: var(--box-border);
  margin-bottom:2em;
}

.titre-page{
  text-align:center;
}

.titre-page::before, .titre-page::after{
  content: " ■ ";
  font-size:1.8em;
}

.cat-page{
  text-align:center;
  font-size:12px;
  margin-bottom:4em;
}

.home-contenu a{
  background:var(--color);
  color:var(--b-color);
  padding-left:2px;
  padding-right: 2px;
}

.home-contenu a:hover{
  background:none;
  color:var(--color);
}

.post-content img{
  max-width:100%;
}

.end-page{
  margin-top:var(--line-height);
  margin-bottom:var(--line-height);
  text-align:center;
}

@media (max-width: 800px){
  header{
    display:none;
  }

.header-mobile{
  display:block;
  }
}
